---
import "@fontsource-variable/playwrite-ca";
import "@fontsource/alice";
import AboutMe from "../components/AboutMe.astro";
import Elsewhere from "../components/Elsewhere.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Milo from "../components/Milo.astro";
import ProfilePhoto from "../components/ProfilePhoto.astro";
import Container from "../components/ui/Container.astro";
import Wrapper from "../components/ui/Wrapper.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />

    <link href="https://proven.lol/9221ca" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>MYLES @ NEOCITIES</title>
  </head>
  <body id="myles-neocities-org">
    <Wrapper>
      <Container>
        <Header />

        <ProfilePhoto />
        <AboutMe />
        <Elsewhere />
        <Milo />

        <Footer />
      </Container>
    </Wrapper>
  </body>
</html>
