---
import { Card, CardBody, CardDivider, CardHeader } from "./ui/card";

type Props = {
  class?: string;
};
const { class: className } = Astro.props;
---

<Card Element="footer" id="footer" class:list={[className]}>
  <CardHeader title="Thanks for visiting!" />
  <CardDivider />
  <CardBody>
    <p>
      I hope you enjoy exploring my little corner of the internet. Feel free to
      reach out if you want to chat or collaborate on something cool!
    </p>
  </CardBody>
</Card>
