---
import Link from "./ui/Link.astro";
import { Card } from "./ui/card";

type Props = {
  class?: string;
};
const { class: className } = Astro.props;
---

<Card font="playwrite" Element="header" id="header" class:list={[className]}>
  <h1
    class:list={[
      "font-black uppercase text-left",
      "md:text-pretty md:text-lg md:text-center",
    ]}
  >
    <span>~*~</span> MYLES @ NEOCITIES <span>~*~</span>
  </h1>
  <h2
    class:list={["mt-4 text-left", "md:text-pretty md:text-lg md:text-center"]}
  >
    Hey, I'm <strong>Myles Braithwaite</strong>! Welcome to my home on <Link
      href="https://neocities.org">Neocities</Link
    >!
  </h2>
</Card>
