---
import Link from "./ui/Link.astro";
import { Card, CardBody, CardDivider, CardHeader } from "./ui/card";

type Props = {
  class?: string;
};
const { class: className } = Astro.props;
---

<Card id="milo" class:list={[className]}>
  <CardHeader title="milo" href="https://profile.milo.garden" />
  <CardDivider />
  <CardBody>
    <p>
      <strong>milo</strong> is my alt personality on <Link
        href="https://home.omg.lol/referred-by/milo">omg.lol</Link
      >.
    </p>
  </CardBody>
</Card>
